version: "3.9"

services:

  postgres:
    image: postgres:15
    container_name: user-postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: user_db
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always
    networks:
      - user-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  user-service:
    build: .
    container_name: user-service
    ports:
      - "8002:8002"
    env_file:
      - .env.docker
    depends_on:
      postgres:
        condition: service_healthy
    restart: always
    networks:
      - user-network

volumes:
  postgres_data:

networks:
  user-network: