services:

  user-service:
    build: .
    container_name: user-service
    ports:
      - "8002:8002"
    env_file:
      - .env.docker
    depends_on:
      - db
    restart: always
    networks:
      - user-network

  db:
    image: postgres:15
    container_name: user-postgres
    environment:
      POSTGRES_USER: sa
      POSTGRES_PASSWORD: admin123
      POSTGRES_DB: userdb
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always
    networks:
      - user-network

volumes:
  postgres_data:

networks:
  user-network: