version: "3.9"

services:

  postgres:
    image: postgres:15
    container_name: application-postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: application_db
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always
    networks:
      - application-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  application-service:
    build: .
    container_name: application-service
    ports:
      - "8005:8005"
    env_file:
      - .env.docker
    depends_on:
      postgres:
        condition: service_healthy
    restart: always
    networks:
      - application-network

volumes:
  postgres_data:

networks:
  application-network: